services:
  prometheus:
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-remote-write-receiver
      - --log.level=debug
    image: prom/prometheus:v3.8.1
    ports:
      - 9090:9090
